<ion-view view-title="Ausgabe eintragen">
  <ion-content>

    <form name="addEntryForm" novalidate="" ng-submit="addEntry(addEntryForm)">
      <!-- Amount -->
      <label class="item item-input item-stacked-label"
             ng-class="{ 'has-errors' : addEntryForm.amount.$invalid, 'no-errors' : addEntryForm.amount.$valid}">
        <span class="input-label">Betrag</span>
        <input type="number" ng-model="addEntryFormData.amount" name="amount" placeholder="9,99€" min="1" required>
      </label>

      <div class="error-container" ng-show="addEntryForm.amount.$error" ng-messages="addEntryForm.amount.$error">
        <div ng-messages-include="error-list.html"></div>
      </div>

      <div class="list no-margin-bottom no-padding-bottom">
        <a class="item item-icon-right" ui-sref="app.addEntry$topLevelCategorySelect">
          <div ng-if="isUndefinedOrNull(categoryService.selectedAddEntryTopLevelCategory)">
            Kategorie
          </div>
          <div ng-if="!isUndefinedOrNull(categoryService.selectedAddEntryTopLevelCategory)">
            {{categoryService.selectedAddEntryTopLevelCategory.title}}
          </div>
          <i class="icon ion-ios-arrow-right"></i>
        </a>

        <a ui-sref="app.addEntry$subLevelCategorySelect"
           class="item item-icon-right {{isUndefinedOrNull(categoryService.selectedAddEntryTopLevelCategory) && 'a-disabled' || ''}}">
          <div ng-if="isUndefinedOrNull(categoryService.selectedAddEntrySubLevelCategory)">
            Unter-Kategorie
          </div>
          <div ng-if="!isUndefinedOrNull(categoryService.selectedAddEntrySubLevelCategory)">
            {{categoryService.selectedAddEntrySubLevelCategory.title}}
          </div>
          <i class="icon ion-ios-arrow-right"></i>
        </a>
      </div>

      <button ng-disabled="addEntryForm.$invalid" class="button button-full button-positive ft-red-bg"
              style="margin-top: 0px;"
              type="submit">
        Eintragen
      </button>

    </form>

  </ion-content>
</ion-view>
