<ion-view view-title="Aufzeichnungen">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button-icon ion-plus ft-white" ui-sref="app.addEntry"></button>
  </ion-nav-buttons>
  <div class="bar bar-subheader subheader">
    <div class="row text-center">
      <div class="col">Kontostand: <b>120,21€</b></div>
    </div>
  </div>

  <ion-content>
    <p>EntryList</p>
  </ion-content>

</ion-view>
